<% if @photo.errors.any? %>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<%= f.label :title, "Title" %>
    <%= f.text_field :title %>
<br>
<br>
    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>
<br>
<br>
<div class="form-group">
  <%= f.label :pic, "Upload File" %>
  <%= f.file_field :pic %>
  <%= check_box_tag "destroy_photo", "1" %> 刪除檔案
</div>
