<h1>photos/index.html</h1>

  <%= button_to 'new photo', new_photo_path, :class => "btn btn-danger pull-right" %>
  <br>
<% @photos.each do |photo| %>
  <div>
    <%= link_to photo.title, photo_path(photo) %>

      <%= link_to 'Edit', :controller => 'photos', :action => 'edit', :id => photo, :class => "pull-right" %>
      <%= link_to 'Delete', :controller => 'photos', :action => 'destroy', :id => photo , :class => "pull-right"%><br>

  </div>
  <%#= photo.pic %>
  <%= image_tag( photo.pic(:medium) ) %> <br>
  <%= photo.description %>

  <ul>
  <%#= link_to 'Show', :controller => 'photos', :action => 'show', :id => photo %>
  <%#= button_to 'Show', photo_path(photo), method: :get %>
  <%#= link_to 'Edit', :controller => 'photos', :action => 'edit', :id => photo %>
  <%#= link_to 'Edit', edit_photo_url(photo) %>
  <%#= link_to 'Delete', :controller => 'photos', :action => 'destroy', :id => photo %><br>
  <%#= button_to 'Delete', photo_path(photo), :data => {:confirm => "r u sure?"}, :method => :delete %>
  </ul>
<% end %>


