<h1>show.html</h1>
<h2>Like photos</h2>

<%= @photo.title %>
<br>
<%= image_tag( @photo.pic(:medium) ) %>
<br>
<%= simple_format(@photo.description) %>

<%= link_to 'Back to index', photos_path %>

<%= @user.name %>



<!--  <% @user.like_photos.each do |photo| %>
   <%= photo.title %>
 <% end %>
 -->