<h1>show.html</h1>

<%= @photo.title %>
<br>
<%#= image_tag( @photo.pic(:medium) ) %>
<%= link_to image_tag(@photo.pic.url(:medium)), @photo.pic.url, :target => "_blank" %>
<br>
<%= simple_format(@photo.description) %>


<% like = @photo.find_like_by_user(current_user) %>
  <!-- using ajax to like/dislike -->
  <div id="photo-like-<%= @photo.id %>">
    <%= render :partial => "likes/show", :locals => { :photo => @photo, :like => like } %>
  </div>

  <div id="photo-comments-<%= @photo.id %>">
    <ul>
    <% @photo.comments.each do |comment| %>
      <li>
        <%= comment.content %>
 <!-- 這行會壞掉 -->
        <%#= link_to comment.user.name, user_path(comment.user) %>
        <div class="pull-right">
          <%= comment.created_at.to_s(:short) %>
        </div>
      </li>
    <% end %>
    </ul>
  </div>


<%= link_to 'Back to index', photos_path %>
<%#= @user.name %>



  <%# @user.like_photos.each do |photo| %>
   <%#= photo.title %>
  <%# end %>
